asgiref
asyncpg
celery
channels
Django
django_celery_beat
djangorestframework
drf_yasg
langchain
langchain_community
langchain_core
langchain_experimental
langchain_google_genai
langchain_openai
langchain_text_splitters
langgraph
openai
pgvector
setuptools
